main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    max-height: 100vh;
}

.logo_full {
    flex: 3;
    margin: 5vh auto 0;
    max-width: 550px;
}

.check_icon {
    max-width: 450px;
    margin: 0 auto;
    flex: 1;
}

h1 {font-size: clamp(24px, 6vw, 40px);}

.btn_back-to-home {flex: 2; margin-top: 10px}

.back_to_home_page_btn {
    background-color: var(--sky_blue);
    border: none;
    padding: 20px;
    font-size: clamp(16px, 5vw, 32px);
}